/*************************
Estrutura / Layout/*/

body {
    margin: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.container {
    width: 1145px;
    margin: 0 auto;
    padding: 1.4rem 0;
}

.fundo-topo {
    background: url(../img/fundo-topo.png) no-repeat right bottom;
    background-size: 22rem;
}

.item-tendencia{
    width: 26%;
    padding-left: 7%;
    margin-bottom: 2rem;
    position: relative;
    float: left;

}

.numero{
    font-size: 3rem;
    font-weight: bold;
    color: lightgray;
    position: absolute;
    top: 0;
    left: 0;

}


#cabecalho {
    background: lightblue;
    border-bottom: 1px solid black;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
}

ul#menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 475px;
    float: right;
}


ul#menu li a {
    text-decoration: none;
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    color: black;
    float: left;
}

ul#menu li a:hover {
    color: white;
    background: black;
    border-radius: 1em;
}

#destaque {
    padding-top: 70px;
    background: lightblue;
    border-bottom: 1px solid black;
}

#conteudo-topo {
    width: 55%;
}

#destaque button {
    display: block;
    border: 1px solid black;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 1.5rem;
}
#tendencias-titulo{
    background: url(../img/icone-tendencia.png) no-repeat left / contain;
    padding-left: 2rem;
    font-size: 0.8rem;
}

#tendencias::after{
    content: " ";
    display: table;
    clear: both;
}

#rodape{
    background: lightblue;
    border-top: 1px solid black;
}


/******************************
tipografia*/
#destaque h1 {
    font-size: 4rem;
    font-weight: 100;
    margin: 0;
    letter-spacing: -0.1rem;
}

h3,h4{
    margin: 0.2rem;
}

h4{
    font-weight: 100;
}

.icone{
    padding-left: 1.5rem;
}

.imagem1{
    background: url(../img/icone1.png) no-repeat left / contain;
}
.imagem2{
    background: url(../img/icone2.png) no-repeat left / contain;
}
.imagem3{
    background: url(../img/icone3.png) no-repeat left / contain;
}
.imagem4{
    background: url(../img/icone4.png) no-repeat left / contain;
}
.imagem5{
    background: url(../img/icone5.png) no-repeat left / contain;
}
.imagem6{
    background: url(../img/icone6.png) no-repeat left / contain;
}